[submodule "Retro68"]
	path = Retro68
	url = https://github.com/autc04/Retro68.git
[submodule "deps/FIFO"]
	path = deps/FIFO
	url = https://github.com/geekfactory/FIFO/pull/4/commits/4a2122fa9e0e851ad5115a5cb0f5383b038b4b0c
